html {
    box-sizing: border-box;
}

*,
:after,
:before {
    box-sizing: inherit;
}

body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 60px 20px;
    background-color: #FAFAFA;
}

.box {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
}

.traveler {
    width: 350px;
    height: 290px;
    padding: 60px 75px 40px 75px;
}

h1 {
    font-size: 28px;
    margin-bottom: 40px;
}

h2 {
    font-size: 16px;
    font-weight: 500;
    margin: 60px 0px 15px 0px;
}

p {
    font-size: 16px;
    font-weight: 300;
    color: #8B8B8B;
    margin-bottom: 30px;

}

.tlacitko {
    font-size: 14px;
    color: white;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 20px;
    margin: 0;
}

.dobrodruzstvi {
    background-color: #407BFF;
    margin-bottom: 10px;
}

.pohoda {
    background-color: #8B8B8B;
}

.tlacitka {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bod p {
    font-size: 13px;
    padding: 30px 20px 20px 20px;
}

.bod {
    display: flex;
    background-color: white;
    margin-bottom: 15px;
    box-shadow: 0px 4px 6px #407BFF1F;
    border-radius: 10px;
}

.bod img {
    padding: 20px;
}

@media screen and (min-width: 640px) {

    .tlacitka {
        flex-direction: row;
        justify-content: center;
    }

    .dobrodruzstvi {
        margin-bottom: 0;
        margin-right: 20px;
    }

    h2 {
        margin: 80px 0px 17px 0px;
    }

    p {
        margin-bottom: 40px;
    }

    .box{
        width: 770px;
        max-width: 100%;
        margin: 0 auto;
    }

    .text{
        width: 550px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 40px;

    }

    .sluzby {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0;
        max-width: 100%;
    }


    .bod {
        flex-direction: column;
        width: 230px;
        max-width: 100%;
        flex-basis: calc((100% - 100px) / 3);
    }

    .bod img {
        padding: 40px 95px 0px 95px;

    }

    .bod p {
        margin: 0;
        padding: 20px 15px;
    }

    .traveler{
        width: 400px;
        max-width: 100%;
}

}

@media screen and (min-width: 1100px) {

    .box {
        width: 1040px;
        max-width: 100%;
        margin: 0 auto;
    }

    
    .prvniradek{
        display: flex;
        justify-content: space-between;

    }

    .obrazek{
        flex: 0 0 490px;
        order: 1;
    }

    .obsah{
        flex: 0 1 490px;
    }

    .text{
        width: 490px;
        max-width: 100%;
    }

    .druhyradek{
        display: flex;
        justify-content: space-between;
    }

    .sluzbyck{
        order: 1;
        width: 430px;
        max-width: 100%;
    }

    .sluzbyck p,
    .sluzbydelegatu p{
        width: 430px;
        max-width: 100%;
    }

    .sluzby{
        /* width: 550px;          */
        max-width: 100%;
    }
    

    .tretiradek{
        display: flex;
        justify-content: space-between;

    }
    
}
